body{
    background-image: url("PHOTOS/people/green.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    color: rgb(148, 7, 84);
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 80px;
}

.header {
    overflow: hidden;
    background-color: rgb(153, 245, 125);
    /*padding: 20px 10px;*/
  }

  .header img{
    height: 50px;
    width: 50px;
  }
  

  /* Style the header links */
  .header a {
    float: left;
    color: white;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: rgb(3, 88, 31);
    color: White;
  }

  .header a.active {
    background-color: rgb(2, 61, 12);
    color: white;
  }
  
  /* Float the link section to the right */
  .header-Right {
    float: right;
  }

  .footer{
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(153, 245, 125);
    color: rgb(1, 71, 36);
    text-align: center;
  }

  #content{
    color: rgb(110, 6, 37);
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 40px;
}

#content img{
    width: 400px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    display:block;
    
}
p{
  color: rgb(71, 1, 34);
  text-align: center;
  font-family: 'Times New Roman';
  font-size: 35px;
}

